:root {
	--accent: #ff99dd;
	--bg: white;
	--text: #0b0b0b;
	--warn: #fff200;
	--error: #ff4d4d;
	--error-text: var(--bg);
}

:focus {
	outline: 8px solid hsl(from var(--accent) calc(h + 180) s l);
}

html {
	font: 18px sans-serif;
	color: var(--text);
}

html, body {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0;
	background-color: color-mix(in srgb, var(--accent), var(--bg) 90%);
}

section {
	border: 0.25rem solid var(--text);
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0 color-mix(in srgb, var(--text), transparent 70%);
	background-color: var(--bg);

	@media(min-height: 64rem) {
		margin-top: 4rem;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		background-color: color-mix(in srgb, var(--accent), var(--bg) 50%);
		border-bottom: 0.25rem solid var(--text);

		.brand {
			font-weight: 900;
			font-size: 1rem;
			padding: 0.5rem;
		}

		.pill {
			display: block;
			padding: 0.5rem;
			background-color: var(--accent);
			border-radius: 1rem;
			text-transform: uppercase;
		}
	}
}

button {
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem;
	background-color: var(--accent);
	border: 0.25rem solid var(--text);
	border-radius: 1rem;
	cursor: pointer;

	&:hover {
		background-color: color-mix(in srgb, var(--accent), var(--bg) 50%);
	}
}

form {
	@media(min-width: 24rem) {
		min-width: 24rem;
	}

	label {
		display: block;

		span {
			display: block;
			padding: 0.5rem;
			margin: 1rem;
			font-weight: bold;
		}
		input,textarea {
			display: block;
			font-size: 1rem;
			box-sizing: border-box;
			width: calc(100% - 2rem);
			padding: 0.5rem;
			margin: 1rem;
			margin-top: -1rem;
			border: 0.25rem solid var(--text);
			border-radius: 1rem;
		}
		textarea {
			min-height: 8rem;
			resize: vertical;
		}
	}

	.actions {
		display: flex;
		align-items: center;
		gap: 2rem;
		margin: 2rem 1rem;

		&.center {
			justify-content: center;
		}
	}
}

p {
	font-size: 0.8rem;
	margin: 1rem;

	&.error {
		background-color: var(--error);
		color: var(--error-text);
		padding: 1rem;
		font-weight: bold;
		font-size: 1rem;
		text-align: center;
	}

	&.disclosure {
		background-color: var(--warn);
		padding: 1rem;
		border-radius: 1rem;
		color: var(--text);
		border: 2px dashed var(--text);
	}

	&.info {
		text-align: center;
	}
}

.label-with-button {
	display: flex;
	justify-content: stretch;
	align-items: flex-end;

	label {
		flex-grow: 1;
	}

	button {
		margin-bottom: 1rem;

		&.copied {
			position: relative;
			color: transparent;
			background-color: hsl(from var(--accent) calc(h + 180) s l);

			&:after {
				content: "✅";
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				color: var(--text);
			}
		}
	}
}

dialog {
	border: 4px solid var(--text);
	border-radius: 1rem;
}

details {
	summary {
		padding: 1rem;
	}

	&[open] {
		border-bottom: 0.25rem solid var(--text);
	}
}
